.main-content{
    grid-area: main;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding-left: 30px;
    animation: 1.2s main-content 2.6s ease-in-out;
}
.main-content__title {
    font-size: 48px;
    font-weight: 700;
}
.main-content__title span{
    display: block;
    font-size: 34px;
    font-weight: 300;
    margin-left: 30px;

}
.main-content__content{
    width:60%;
    line-height: 23px;
}
@keyframes main-content {
    0%{
        transform:translateX(-700px);
    }
    100%{
        transform:translateY(0px);
    }
}